body {
  background-color: rgb(255, 255, 255);
  font: 300 1em/1.38 'Open Sans';
  color: rgb(0, 0, 0);
}

.about {
  position: relative;
  float: left;
  clear: both;
  z-index: 143;
  width: 98.75%;
  height: 724px;
  margin-top: -1766px;
  padding-top: 200px;
}

.about .image {
  width: 178px;
  margin: 0 auto;
  overflow: hidden;
}

.alexandra {
  position: relative;
  float: left;
  clear: both;
  z-index: 56;
  width: 52.4017467248%;
  height: 278px;
  margin: -278px 0 0 37.40675%;
}

.alexandra .front {
  border-radius: 100px;
  background-image: url('../images/sasha.png');
  background-size: 200px 200px;
  background-position: center center;
}

.back {
  float: left;
  width: 50%;
  height: 174px;
  border-radius: 85px;
  background-color: #f2f2f2;
}

.back .text {
  display: block;
  float: left;
  width: 21.8390804597%;
  min-height: 51px;
  margin-top: 60px;
  font: normal 2.5em/1.38 FontAwesome;
}

.blog {
  display: block;
  float: right;
  width: 99.8337765957%;
  min-height: 29px;
  margin-right: 0.0434999999%;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(167, 163, 163);
}

.contacts {
  width: 549px;
  height: 63px;
  margin: 25px auto 0;
}

.contacts .container {
  float: left;
}

.container .image {
  float: left;
  width: 83px;
  margin-left: 39.3279799999%;
  overflow: hidden;
}

.container .text {
  float: left;
}

.danil {
  position: relative;
  float: left;
  z-index: 70;
  width: 52.4017467248%;
  height: 278px;
  margin-top: 7px;
}

.danil .front {
  border-radius: 100px;
  background-image: url('../images/danil.png');
  background-size: 200px 200px;
  background-position: center center;
}

.email {
  display: block;
  float: left;
  width: 82.7160493827%;
  min-height: 24px;
  margin: 2px 0 0 1.5949199999%;
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1.28;
  color: rgb(52, 151, 211);
}

.flip3d {
  float: left;
  width: 100%;
  height: 174px;
}

.front {
  float: left;
  width: 50%;
  height: 174px;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
}

.image {
  display: block;
  height: auto;
}

.mainnav {
  position: relative;
  float: right;
  clear: both;
  z-index: 157;
  width: 80%;
  height: 29px;
  margin-top: -32px;
}

.mainnav .prototype {
  display: block;
  float: right;
  width: 93.5254718895%;
  min-height: 29px;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(167, 163, 163);
}

.maxim {
  position: relative;
  float: left;
  z-index: 49;
  width: 52.4017467248%;
  height: 278px;
}

.maxim .front {
  background-image: url('../images/face.png');
  background-size: 175px 175px;
  background-position: center center;
}

.medclient {
  position: relative;
  float: left;
  z-index: 119;
  width: 123.0769230769%;
  height: 526px;
  margin: -183px 0 0 -11.38462%;
}

.medclient .container {
  width: 977px;
  height: 62px;
  margin: 0 auto;
}

.medclient .text {
  min-height: 50px;
}

.mikhail {
  position: relative;
  float: left;
  clear: both;
  z-index: 42;
  width: 51.2372634643%;
  height: 278px;
  margin: -278px 0 0 73.36245%;
}

.mikhail .back {
  margin-top: 2px;
}

.mikhail .front {
  border-radius: 100px;
  background-image: url('../images/mikhail.png');
  background-size: 200px 200px;
  background-position: center top;
}

.mikhaill {
  position: relative;
  float: left;
  clear: both;
  z-index: 63;
  width: 52.4017467248%;
  height: 278px;
  margin: -278px 0 0 73.36245%;
}

.mikhaill .front {
  border-radius: 100px;
  background-image: url('../images/misha.png');
  background-size: 200px 200px;
  background-position: center center;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 163;
  width: 100%;
  height: 74px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.navbar .container {
  position: absolute;
  top: 23px;
  left: 2.5807291666%;
  z-index: 162;
  width: 209px;
  height: 32px;
}

.navbar .text {
  display: block;
  font-size: 1.125em;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.nikolay {
  position: relative;
  float: left;
  z-index: 28;
  width: 52.4017467248%;
  height: 278px;
}

.nikolay .front {
  border-radius: 100px;
  background-image: url('../images/nikolay.png');
  background-size: 200px 200px;
  background-position: left bottom;
}

.oleg {
  position: relative;
  float: left;
  clear: both;
  z-index: 84;
  width: 52.4017467248%;
  height: 278px;
  margin: -278px 0 0 73.36245%;
}

.oleg .front {
  border-radius: 100px;
  background-image: url('../images/oleg.png');
  background-size: 200px 200px;
  background-position: right bottom;
}

.pasha {
  position: relative;
  float: left;
  clear: both;
  z-index: 77;
  width: 52.4017467248%;
  height: 278px;
  margin: -278px 0 0 37.40675%;
}

.pasha .front {
  border-radius: 100px;
  background-image: url('../images/pasha.png');
  background-size: 200px 200px;
  background-position: center center;
}

.pavel {
  position: relative;
  float: left;
  clear: both;
  z-index: 35;
  width: 51.2372634643%;
  height: 278px;
  margin: -278px 0 0 37.40675%;
}

.pavel .front {
  border-radius: 100px;
  background-image: url('../images/pavel.png');
  background-size: 200px 200px;
  background-position: center center;
}

.phone {
  position: relative;
  float: left;
  clear: both;
  z-index: 133;
  width: 80.8139534883%;
  min-height: 24px;
  margin: -26px 0 0 11.96008%;
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1.28;
  color: rgb(85, 85, 85);
}

.process {
  position: relative;
  float: left;
  clear: both;
  z-index: 99;
  width: 100%;
  height: 501px;
}

.process .container {
  height: 52px;
}

.process .element {
  background-color: rgb(248, 248, 248);
}

.process .text {
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.projects {
  position: relative;
  float: left;
  z-index: 128;
  width: 100%;
  height: 1949px;
  margin-top: -183px;
}

.projects .element {
  position: relative;
  float: left;
  width: 100%;
}

.prototype .text {
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.screens {
  position: absolute;
  top: 209px;
  left: 0;
  z-index: 120;
  width: 100%;
  height: 343px;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

.slidernav {
  position: absolute;
  top: 1283px;
  left: 0;
  right: 0;
  z-index: 127;
  width: 596px;
  max-width: 600px;
  height: 87px;
  margin: 0 auto;
}

.slidernav .image {
  float: left;
}

.small-logo {
  display: block;
  float: left;
  width: 48px;
  height: auto;
  margin-left: -0.00748%;
  overflow: hidden;
}

.team {
  position: absolute;
  top: 2930px;
  left: 0;
  right: 0;
  z-index: 85;
  width: 687px;
  height: 857px;
  margin: 0 auto;
}

.text-59 p,
.text-61 p {
  margin-bottom: 1em;
}

.toggle-menu {
  display: block;
  visibility: hidden;
  position: relative;
  float: left;
  z-index: 159;
  width: 2.25%;
  min-height: 40px;
  margin: 14px 0 0 94.73828%;
  font: normal 1.875em/1.38 FontAwesome;
  color: rgb(0, 0, 0);
}

.up-btn {
  display: block;
  position: fixed;
  top: 400px;
  left: 92.2486979166%;
  z-index: 164;
  width: 3.9166666666%;
  min-height: 39px;
  font: normal 3.313em/1.38 FontAwesome;
  color: rgba(45, 45, 45, 0.08);
}

.up-btn:hover {
  color: rgba(45, 45, 45, 0.2);
}

.viewport {
  position: absolute;
  top: 1397px;
  left: 0;
  right: 0;
  z-index: 121;
  width: 975px;
  height: 552px;
  margin: 0 auto;
  overflow: hidden;
}

._button {
  display: block;
  position: relative;
  float: left;
  z-index: 13;
  width: 24.784217016%;
  height: 54px;
  margin: 19px 0 0 58.07292%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

._input {
  display: block;
  position: relative;
  float: left;
  width: 46.6091245376%;
  height: 46px;
  padding: 0 10px;
  border: 1px solid rgb(230, 228, 228);
  background-color: rgb(255, 253, 253);
  font: 400 0.813em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

._textarea {
  display: block;
  float: left;
  clear: both;
  width: 99.8766954377%;
  height: 186px;
  margin-top: 23px;
  padding: 5px;
  border: 1px solid #e6e6e6;
  background-color: rgb(250, 250, 250);
  font-size: 0.813em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
  resize: none;
}

.container ._container {
  float: left;
}

.mainnav ._container {
  float: left;
}

.mainnav ._text {
  display: block;
  float: right;
  min-height: 29px;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(167, 163, 163);
}

.mikhail ._text,
.pavel ._text {
  float: left;
  clear: both;
  min-height: 42px;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.alexandra ._text,
.danil ._text,
.maxim ._text,
.mikhaill ._text,
.nikolay ._text,
.oleg ._text,
.pasha ._text {
  float: left;
  clear: both;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.container-10 {
  position: absolute;
  top: 359px;
  left: 0;
  right: 0;
  z-index: 98;
  width: 56.4999999999%;
  margin: 0 auto;
}

.container-11 {
  width: 26.9679300291%;
}

.container-12 {
  width: 29.4506195335%;
  margin-left: 9.4741%;
}

.container-13 {
  width: 24.6355685131%;
  margin-left: 9.44875%;
}

.container-14 {
  float: left;
  width: 60%;
  height: 328px;
  margin: 67px 0 0 21.375%;
}

.container-15 {
  position: relative;
  clear: both;
  z-index: 16;
  width: 14.7965474722%;
  height: 42px;
  margin: 9px 0 0 2.18967%;
}

.container-16 {
  position: absolute;
  top: 4468px;
  left: 0;
  right: 0;
  z-index: 10;
  width: 821px;
  height: 459px;
  margin: 0 auto;
}

.container-17 {
  width: 400px;
  height: 459px;
  margin-left: -0.059%;
}

.container-18 {
  width: 400px;
  height: 459px;
  margin-left: 2.60163%;
}

.container-2 {
  width: 100%;
  height: 34px;
  margin-left: -0.00854%;
}

.container-3 {
  position: relative;
  clear: both;
  z-index: 135;
  width: 191px;
  height: 29px;
  margin-left: 11.83402%;
}

.container-4 {
  position: relative;
  z-index: 132;
  width: 43.897996357%;
  height: 29px;
}

.container-6 {
  position: absolute;
  top: 1883px;
  left: 0;
  right: 0;
  z-index: 110;
  width: 835px;
  height: 310px;
  margin: 0 auto;
}

.container-7 {
  width: 165px;
  height: 310px;
}

.container-8 {
  width: 165px;
  height: 286px;
  margin-left: 20.35367%;
}

.container-9 {
  width: 165px;
  height: 232px;
  margin-left: 20.35367%;
}

.element-1 {
  z-index: 122;
  height: 133px;
  margin-top: 1264px;
  background-color: rgb(226, 226, 226);
}

.element-2 {
  clear: both;
  z-index: 112;
  height: 552px;
  background-color: rgb(244, 242, 242);
}

.element-3 {
  position: relative;
  float: left;
  z-index: 87;
  width: 100%;
  height: 501px;
}

.element-4 {
  position: absolute;
  top: 44px;
  left: 0;
  right: 0;
  z-index: 88;
  width: 920px;
  height: 296px;
  margin: 0 auto;
  background-image: url('../images/Process.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

.image-1 {
  width: 88px;
  margin: 12px 0 0 -0.0603%;
  overflow: visible;
}

.image-2 {
  width: 88px;
  margin-left: 12.21162%;
  overflow: hidden;
}

.image-3 {
  width: 88px;
  margin-left: 12.35581%;
  overflow: hidden;
}

.image-4 {
  width: 111px;
  margin-left: 12.5%;
  overflow: hidden;
}

.image-6 {
  float: left;
  clear: both;
  width: 977px;
  margin: 27px 0 0 111px;
  overflow: hidden;
}

.image-7 {
  position: relative;
  float: left;
  clear: both;
  z-index: 113;
  width: 977px;
  margin: -343px 0 0 975px;
  overflow: hidden;
}

.prototype-2 {
  position: relative;
  float: left;
  clear: both;
  z-index: 20;
  width: 100%;
  height: 465px;
  background-color: rgb(244, 242, 242);
}

.text-1 {
  width: 14.8333333333%;
  margin: 6px 0 0 0.0047999999%;
  font-size: 2.188em;
  font-weight: 600;
  color: rgb(98, 98, 98);
}

.text-1:hover {
  line-height: 1.38;
  text-decoration: none;
}

.text-10 {
  width: 68.0628272251%;
  min-height: 18px;
  margin: 5px 0 0 6.7509%;
  font-family: OpenSans;
  font-weight: normal;
}

.text-11 {
  position: relative;
  float: left;
  z-index: 129;
  width: 100%;
  margin-top: -802px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 2em;
  line-height: 1.18;
  text-align: center;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.text-12 {
  position: relative;
  float: left;
  z-index: 111;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 2em;
  line-height: 1.18;
  text-align: center;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.text-13 {
  width: 47.8787878787%;
  min-height: 108px;
  font: normal 4.375em/1.38 FontAwesome;
  color: rgb(117, 117, 117);
}

.text-14 {
  clear: both;
  width: 100%;
  min-height: 193px;
  margin: 9px 0 0 -0.00947%;
  font-size: 1.063em;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-15 {
  width: 24.8520710059%;
  min-height: 108px;
  font: normal 4.375em/1.38 FontAwesome;
  color: rgb(117, 117, 117);
}

.text-16 {
  clear: both;
  width: 100%;
  min-height: 169px;
  margin: 9px 0 0 -0.02841%;
  font-size: 1.063em;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-17 {
  width: 49.0797546012%;
  min-height: 108px;
  font: normal 4.375em/1.38 FontAwesome;
  color: rgb(117, 117, 117);
}

.text-18 {
  clear: both;
  width: 100%;
  min-height: 114px;
  margin: 9px 0 0 -0.06629%;
  font-size: 1.063em;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-19 {
  position: relative;
  float: left;
  clear: both;
  z-index: 100;
  width: 100%;
  margin-top: 310px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 2em;
  line-height: 1.18;
  text-align: center;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.text-2 {
  width: 1200px;
  margin: 28px auto 0;
  padding-right: 200px;
  padding-left: 200px;
  font-size: 1.5em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-21 {
  clear: both;
  width: 100%;
  min-height: 27px;
  font-family: FontAwesome;
  font-size: 1em;
  font-weight: 400;
}

.text-22 {
  width: 99.5227832512%;
  min-height: 25px;
  font-size: 1.125em;
}

.text-23 {
  clear: both;
  width: 91.1330049261%;
  min-height: 27px;
  margin-left: 3.91267%;
  font-family: FontAwesome;
  font-size: 1em;
  font-weight: 400;
}

.text-20,
.text-24 {
  width: 100%;
  min-height: 25px;
  font-size: 1.125em;
}

.text-25 {
  clear: both;
  width: 97.3684210526%;
  min-height: 27px;
  margin-left: 1.01974%;
  font-family: FontAwesome;
  font-size: 1em;
  font-weight: 400;
}

.text-26 {
  position: relative;
  float: left;
  clear: both;
  z-index: 86;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 2em;
  line-height: 1.18;
  text-align: center;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.text-27 {
  position: relative;
  float: left;
  clear: both;
  z-index: 21;
  width: 100%;
  margin-top: 841px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 2em;
  line-height: 1.18;
  text-align: center;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.text-29 {
  width: 54.5454545454%;
  min-height: 42px;
  margin: 20px 0 0 -1.84462%;
  font-size: 1.563em;
}

.text-3 {
  margin: 0 auto;
  font-size: 5.25em;
  line-height: 1.18;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-30 {
  width: 22.159090909%;
  min-height: 28px;
  margin-left: 14.62674%;
  font-size: 1.063em;
}

.text-31 {
  margin-left: 41.65769%;
  color: rgb(110, 110, 110);
}

.text-32 {
  width: 50%;
  margin-top: 20px;
  font-size: 1.563em;
}

.text-33 {
  width: 21.0227272727%;
  margin-left: 14.47976%;
  font-size: 1.063em;
}

.text-34 {
  margin-left: 41.65769%;
  color: #6e6e6e;
}

.text-35 {
  width: 53.409090909%;
  margin: 20px 0 0 0.14205%;
  font-size: 1.563em;
}

.text-36 {
  width: 24.1477272727%;
  margin-left: 14.61737%;
  font-size: 1.063em;
}

.text-38 {
  width: 61.9444444444%;
  min-height: 42px;
  margin: 20px 0 0 -6.52778%;
  font-size: 1.563em;
}

.text-39 {
  width: 53.6111111111%;
  min-height: 28px;
  margin-left: -3.125%;
  font-size: 1.063em;
}

.text-4 {
  width: 67.5833333333%;
  min-height: 53px;
  margin: 0 auto;
  font-size: 2.625em;
  line-height: 1.38;
  text-align: center;
  color: #7f8c8d;
}

.text-41 {
  width: 68.3333333333%;
  min-height: 42px;
  margin: 20px 0 0 -6.38889%;
  font-size: 1.563em;
}

.text-42 {
  width: 42.2222222222%;
  min-height: 28px;
  margin-left: 6.66667%;
  font-size: 1.063em;
}

.text-44 {
  width: 50.2777777777%;
  min-height: 42px;
  margin: 20px 0 0 1.38455%;
  font-size: 1.563em;
}

.text-45 {
  width: 33.8888888888%;
  min-height: 28px;
  margin-left: 9.69618%;
  font-size: 1.063em;
}

.text-47 {
  width: 49.1666666666%;
  min-height: 42px;
  margin-top: 20px;
  font-size: 1.563em;
}

.text-48 {
  width: 28.3333333333%;
  min-height: 28px;
  margin-left: 10.63368%;
  font-size: 1.063em;
}

.text-5 {
  position: relative;
  z-index: 137;
  width: 5.6464695335%;
  min-height: 32px;
  margin: -3px 0 0 0.3643%;
  font: normal 1.563em/1.38 FontAwesome;
  color: rgb(0, 0, 0);
}

.text-50 {
  width: 53.0555555555%;
  min-height: 42px;
  margin: 26px 0 0 -2.63455%;
  font-size: 1.563em;
}

.text-51 {
  width: 31.3888888888%;
  min-height: 28px;
  margin-left: 10.14323%;
  font-size: 1.063em;
}

.text-28,
.text-37,
.text-40,
.text-43,
.text-46,
.text-49,
.text-52 {
  margin-left: 41.65204%;
  color: rgb(110, 110, 110);
}

.text-53 {
  width: 45.8333333333%;
  min-height: 42px;
  margin: 20px 0 0 1.80556%;
  font-size: 1.563em;
}

.text-54 {
  width: 20.5555555555%;
  min-height: 28px;
  margin-left: 17.04861%;
  font-size: 1.063em;
}

.text-55 {
  width: 27.5%;
  min-height: 42px;
  font-family: FontAwesome;
  font-size: 1.875em;
  font-weight: normal;
}

.text-56 {
  width: 65.8333333333%;
  min-height: 21px;
  margin: 10px 0 0 6.64418%;
  font-size: 1em;
}

.text-57 {
  position: relative;
  float: left;
  clear: both;
  z-index: 11;
  width: 99.9166666666%;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 2em;
  line-height: 1.18;
  text-align: center;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.text-59 {
  clear: both;
  width: 99.7679814385%;
  min-height: 160px;
  margin-top: 11px;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.text-6 {
  position: relative;
  clear: both;
  z-index: 136;
  width: 93.8181818181%;
  min-height: 34px;
  margin: -30px 0 0 5.99101%;
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(85, 85, 85);
}

.text-58,
.text-60 {
  width: 100%;
  min-height: 40px;
  font-size: 1.5em;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.text-61 {
  clear: both;
  width: 99.6941896024%;
  min-height: 174px;
  margin-top: 9px;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.text-62 {
  float: left;
  width: 100%;
  min-height: 35px;
  margin-top: 29px;
  padding-left: 20px;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 0.38;
  color: rgb(0, 0, 0);
}

.text-7 {
  position: relative;
  z-index: 134;
  width: 12.2093023255%;
  min-height: 22px;
  margin-top: 1px;
  font: normal 2em/0.88 FontAwesome;
  color: rgb(0, 0, 0);
}

.text-8 {
  width: 11.9658119658%;
  min-height: 22px;
  font: normal 1.438em/1.28 FontAwesome;
  color: rgb(0, 0, 0);
}

.text-9 {
  float: left;
  margin: -28px 0 0 7.65625%;
  font-weight: 400;
}

._container-28 {
  position: relative;
  float: left;
  clear: both;
  z-index: 1;
  width: 100%;
  height: 113px;
  margin-top: 554px;
  border-top: 1px solid rgb(222, 222, 222);
  background-color: rgb(255, 255, 255);
}

.container ._container-25 {
  width: 100%;
  height: 389px;
  margin-left: -0.10547%;
}

.container ._container-27 {
  width: 100%;
  height: 517px;
  margin-left: -0.02344%;
}

.container ._input-1 {
  z-index: 18;
}

.container ._input-2 {
  z-index: 17;
  margin-left: 6.65148%;
}

.mainnav ._container-10 {
  width: 4.7330764997%;
  height: 26px;
  margin: 2px 0 0 4.45964%;
}

.mainnav ._container-11 {
  width: 8.0208333333%;
  height: 26px;
  margin: 2px 0 0 3.1543%;
}

.mainnav ._container-12 {
  width: 3.7424325811%;
  height: 26px;
  margin: 2px 0 0 3.65072%;
}

.mainnav ._container-6 {
  width: 100%;
  height: 30px;
}

.mainnav ._container-7 {
  width: 6.4942212438%;
  height: 26px;
  margin: 2px 0 0 42.35677%;
}

.mainnav ._container-8 {
  width: 4.5129334067%;
  height: 26px;
  margin: 2px 0 0 3.48796%;
}

.mainnav ._container-9 {
  width: 6.3841496973%;
  height: 26px;
  margin: 2px 0 0 3.61491%;
}

.mainnav ._text-10 {
  width: 99.8139880952%;
  margin-right: 0.97403%;
}

.mainnav ._text-11 {
  width: 99.8235887096%;
  margin-right: 0.20398%;
}

.mainnav ._text-12 {
  width: 99.8086734693%;
  margin-right: 0.37827%;
}

.mainnav ._text-9 {
  width: 99.8263888888%;
  margin-right: 1.00251%;
}

.text a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: 600;
  text-transform: none;
  text-decoration: none;
  word-spacing: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text-59 a {
  letter-spacing: 0;
  color: rgb(14, 119, 158);
}

.text-61 a {
  letter-spacing: inherit;
  color: rgb(7, 131, 201);
}

@media(max-width: 850px) {
  .about {
    position: relative;
    z-index: 143;
    width: 100%;
    height: 910px;
    margin-top: -1539px;
  }

  .about .contacts {
    width: 351px;
    height: 150px;
  }

  .alexandra .back {
    clear: both;
    margin-top: 63px;
  }

  .contacts .text {
    position: relative;
  }

  .container .email {
    position: relative;
    clear: both;
    z-index: 130;
    margin-top: -27px;
    margin-left: 13.55057%;
    text-align: center;
  }

  .container .image {
    height: auto;
    margin-left: -0.22155%;
  }

  .container .phone {
    position: relative;
    z-index: 133;
    width: 76.3532763532%;
    margin-top: -28px;
    margin-left: 11.24911%;
    text-align: center;
  }

  .about .image,
  .container .small-logo {
    height: auto;
  }

  .mainnav .blog {
    min-height: 24px;
    margin-right: 0;
    font-size: 1.125em;
    text-align: right;
  }

  .mainnav .prototype {
    min-height: 24px;
    margin-top: -1px;
    margin-right: 5.46875%;
    font-size: 1.125em;
    text-align: right;
  }

  .medclient .container {
    float: left;
    width: 33.8383838383%;
    margin-top: 35px;
    margin-right: 0;
    margin-left: 34.72025%;
  }

  .mikhail .back {
    clear: both;
    margin-top: 52px;
  }

  .navbar .mainnav {
    position: relative;
    z-index: 157;
    margin-top: -35px;
  }

  .navbar .toggle-menu {
    visibility: visible;
    position: relative;
    z-index: 159;
    width: 4%;
    margin-top: 17px;
    margin-left: 93.05882%;
  }

  .process {
    position: relative;
    z-index: 99;
    height: 495px;
    margin-left: -1px;
  }

  .projects {
    position: relative;
    z-index: 128;
    height: 629px;
    margin-top: 910px;
  }

  .projects .element {
    position: relative;
  }

  .projects .slidernav {
    top: 19px;
    left: 0;
    right: 0;
    width: 96.9411764705%;
    height: 85px;
    margin-right: auto;
    margin-left: auto;
  }

  .projects .viewport {
    top: 133px;
    left: 0;
    right: 0;
    width: 93.1764705882%;
    height: 496px;
    margin-right: auto;
    margin-left: auto;
  }

  .screens .medclient {
    position: relative;
    z-index: 119;
    width: 100%;
    height: 496px;
    margin-top: 0;
    margin-left: 0;
  }

  .slidernav .image {
    height: auto;
  }

  .team {
    top: 2632px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .team .alexandra {
    position: relative;
    z-index: 56;
    margin-top: -283px;
    margin-left: 37.39993%;
  }

  .team .danil {
    position: relative;
    z-index: 70;
  }

  .team .maxim {
    position: relative;
    z-index: 49;
  }

  .team .mikhail {
    position: relative;
    z-index: 42;
    margin-top: -283px;
    margin-left: 74.37682%;
  }

  .team .mikhaill {
    position: relative;
    z-index: 63;
  }

  .team .nikolay {
    position: relative;
    z-index: 28;
  }

  .team .oleg {
    position: relative;
    z-index: 84;
  }

  .team .pasha {
    position: relative;
    z-index: 77;
    margin-left: 37.39993%;
  }

  .team .pavel {
    position: relative;
    z-index: 35;
    margin-left: 37.39993%;
  }

  .up-btn {
    left: 92.2481617647%;
    width: 3.9154411764%;
  }

  .viewport .screens {
    top: 0;
    height: 496px;
  }

  .container ._button {
    position: relative;
    z-index: 13;
    width: 23.2259380097%;
    margin-top: 15px;
    margin-left: 46.38103%;
  }

  .container ._input {
    position: relative;
    width: 43.67862969%;
  }

  .container ._textarea {
    width: 93.5970636215%;
    margin-top: 21px;
  }

  .mainnav ._text {
    min-height: 24px;
    font-size: 1.125em;
    text-align: right;
  }

  .back .text-31,
  .back .text-34 {
    margin-left: 41.64871%;
  }

  .back .text-28,
  .back .text-37,
  .back .text-40,
  .back .text-43,
  .back .text-46,
  .back .text-49,
  .back .text-52 {
    margin-left: 41.64326%;
  }

  .contacts .container-2 {
    height: 52px;
    margin-top: -1px;
    margin-left: 0;
  }

  .contacts .container-3 {
    position: relative;
    z-index: 135;
    width: 351px;
    margin-top: 15px;
    margin-left: 0;
  }

  .contacts .container-4 {
    position: relative;
    clear: both;
    z-index: 132;
    width: 100%;
    margin-top: 14px;
  }

  .container .container-11 {
    width: 23.8273868283%;
    height: 70px;
  }

  .container .container-12 {
    width: 25.9935129036%;
    height: 84px;
    margin-left: 13.35158%;
  }

  .container .container-13 {
    width: 24.3689183472%;
    height: 71px;
    margin-left: 12.44041%;
  }

  .container .container-15 {
    position: relative;
    z-index: 16;
    width: 22.1859706362%;
    margin-top: 15px;
    margin-left: 1.79291%;
  }

  .container .container-17 {
    width: 99.9972393992%;
    height: 333px;
    margin-left: 0;
  }

  .container .container-18 {
    clear: both;
    width: 99.9972393992%;
    height: 329px;
    margin-top: 14px;
    margin-left: 0;
  }

  .container .container-7 {
    width: 32.9273897058%;
    height: 174px;
    margin-left: -9.30842%;
  }

  .container .container-8 {
    width: 34.1452205882%;
    height: 199px;
    margin-left: 6.72053%;
  }

  .container .container-9 {
    clear: both;
    width: 32.9273897058%;
    margin-top: -199px;
    margin-left: 71.10041%;
  }

  .container .text-1 {
    width: 59.3333333333%;
    margin-left: 1.86567%;
  }

  .container .text-13 {
    width: 25.081645983%;
    margin-left: 27.52275%;
  }

  .container .text-15 {
    margin-left: 37.21399%;
  }

  .container .text-17 {
    margin-left: 25.08932%;
  }

  .container .text-18 {
    margin-left: -0.02696%;
  }

  .container .text-20,
  .container .text-21 {
    width: 99.2660984848%;
    margin-left: -0.01184%;
  }

  .container .text-22 {
    width: 100%;
  }

  .container .text-23 {
    width: 91.6666666666%;
    margin-left: 8.32429%;
  }

  .container .text-24 {
    width: 99.6875%;
  }

  .container .text-25 {
    width: 97.0601851851%;
    margin-left: 0;
  }

  .container .text-5 {
    z-index: 137;
    margin-left: 0.36058%;
  }

  .container .text-55 {
    width: 17.1875%;
    margin-left: -0.55179%;
  }

  .container .text-56 {
    width: 78.6764705882%;
    margin-left: 3.95448%;
  }

  .container .text-58,
  .container .text-59 {
    width: 93.7993185078%;
    margin-left: -0.07178%;
  }

  .container .text-6 {
    z-index: 136;
    margin-left: 5.98736%;
  }

  .container .text-60,
  .container .text-61 {
    width: 99.9278846153%;
  }

  .container .text-7 {
    z-index: 134;
    width: 4.5584045584%;
    margin-top: 0;
    margin-left: 22.21332%;
  }

  .container .text-8 {
    z-index: 131;
    width: 8.547008547%;
    margin-left: 13.55057%;
  }

  .container-16 {
    top: 4182px;
    left: 0;
    right: 0;
    width: 66.5863970588%;
    height: 676px;
    margin-right: auto;
    margin-left: auto;
  }

  .container-6 {
    top: 1656px;
    left: 9.6470588235%;
    right: auto;
    width: 82.8235294117%;
    height: 205px;
  }

  .medclient .image-6 {
    width: 788px;
    height: auto;
    margin-top: 32px;
    margin-left: 2px;
  }

  .medclient .text-2 {
    float: left;
    clear: both;
    width: 100%;
    margin-top: 24px;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
  }

  .mikhail .text-36,
  .pavel .text-33 {
    margin-left: 14.47532%;
  }

  .alexandra .text-41,
  .container .text-14,
  .container .text-16,
  .maxim .text-38,
  .mikhail .text-35,
  .mikhaill .text-44,
  .nikolay .text-29,
  .oleg .text-53 {
    margin-left: 0;
  }

  .alexandra .text-42,
  .danil .text-48,
  .maxim .text-39,
  .mikhaill .text-45,
  .nikolay .text-30,
  .oleg .text-54,
  .pasha .text-51 {
    margin-left: 14.47917%;
  }

  .pasha .text-50 {
    margin-top: 20px;
    margin-left: 0;
  }

  .process .container-10 {
    left: 0;
    right: 0;
    width: 65.1636029411%;
    height: 84px;
    margin-right: auto;
    margin-left: auto;
  }

  .process .element-3 {
    position: relative;
    z-index: 87;
  }

  .process .element-4 {
    left: 0;
    right: 0;
    width: 73.8602941176%;
    margin-right: auto;
    margin-left: auto;
  }

  .projects .element-1 {
    z-index: 122;
    margin-top: 0;
  }

  .projects .element-2 {
    z-index: 112;
    height: 496px;
  }

  .prototype .container-14 {
    width: 72.0772058823%;
    height: 338px;
    margin-top: 79px;
    margin-left: 16.5864%;
  }

  .prototype-2 {
    position: relative;
    z-index: 20;
    height: 459px;
  }

  .screens .image-7 {
    position: relative;
    z-index: 113;
    width: 894px;
    height: auto;
    margin-top: -314px;
    margin-left: 792px;
  }

  .slidernav .image-1 {
    width: 74px;
    margin-left: -0.1666700001%;
  }

  .slidernav .image-2 {
    width: 74px;
    margin-left: 15.83073%;
  }

  .slidernav .image-3 {
    width: 74px;
    margin-left: 15.66667%;
  }

  .slidernav .image-4 {
    width: 95px;
    margin-left: 15.83073%;
  }

  .text-11 {
    position: relative;
    z-index: 129;
    width: 99.8823529411%;
    margin-top: -726px;
  }

  .text-12 {
    position: relative;
    z-index: 111;
  }

  .text-19 {
    position: relative;
    z-index: 100;
    margin-top: 247px;
  }

  .text-26 {
    position: relative;
    z-index: 86;
    margin-left: -0.11765%;
  }

  .text-27 {
    position: relative;
    z-index: 21;
    margin-top: 857px;
  }

  .text-57 {
    position: relative;
    z-index: 11;
    width: 99.9154411764%;
  }

  ._container .text-62 {
    width: 99.7916666666%;
    margin-left: 7.0625%;
    font-size: 1.25em;
    line-height: 1.68;
  }

  ._container-28 {
    position: relative;
    z-index: 1;
    margin-top: 727px;
  }

  .container ._container-25 {
    height: 304px;
    margin-left: 0;
  }

  .container ._container-27 {
    height: 301px;
    margin-left: 0;
  }

  .container ._input-1 {
    z-index: 18;
  }

  .container ._input-2 {
    z-index: 17;
    margin-left: 6.13874%;
  }

  .mainnav ._container-10 {
    clear: both;
    width: 21.4705882352%;
    margin-top: 15px;
    margin-left: 73.67647%;
  }

  .mainnav ._container-11 {
    clear: both;
    width: 21.4705882352%;
    margin-top: 18px;
    margin-left: 73.67647%;
  }

  .mainnav ._container-12 {
    clear: both;
    width: 21.4705882352%;
    margin-top: 16px;
    margin-left: 73.67647%;
  }

  .mainnav ._container-6 {
    display: none;
  }

  .mainnav ._container-7 {
    width: 21.4705882352%;
    margin-top: 63px;
    margin-left: 73.67647%;
  }

  .mainnav ._container-8 {
    clear: both;
    width: 21.4705882352%;
    margin-top: 14px;
    margin-left: 73.67647%;
  }

  .mainnav ._container-9 {
    clear: both;
    width: 21.4705882352%;
    margin-top: 20px;
    margin-left: 73.67647%;
  }

  .mainnav ._text-10 {
    margin-right: 0.90967%;
  }

  .mainnav ._text-11 {
    margin-right: 0.17123%;
  }

  .mainnav ._text-12 {
    margin-right: 0.23545%;
  }

  .mainnav ._text-9 {
    margin-right: 0.98459%;
  }
}

@media(max-width: 569px) {
  body {
    font-size: 1em;
  }

  .about {
    position: relative;
    z-index: 143;
    margin-top: -1656px;
  }

  .about .contacts {
    margin-top: 8px;
  }

  .contacts .text,
  .projects .element {
    position: relative;
  }

  .container .email {
    position: relative;
    z-index: 130;
  }

  .container .image {
    height: auto;
    margin-left: -0.21653%;
  }

  .container .phone {
    position: relative;
    z-index: 133;
  }

  .about .image,
  .container .small-logo,
  .medclient .image-6 {
    height: auto;
  }

  .mainnav .blog {
    margin-right: 0.0434999999%;
  }

  .mainnav .prototype {
    margin-top: 0;
    margin-right: 0;
  }

  .medclient .container {
    width: 50.3610267896%;
    margin-left: 29.34485%;
  }

  .navbar .mainnav {
    position: relative;
    z-index: 157;
  }

  .navbar .toggle-menu {
    position: relative;
    z-index: 159;
    margin-left: 93.058%;
  }

  .process {
    position: relative;
    z-index: 99;
    height: 348px;
  }

  .projects {
    position: relative;
    z-index: 128;
    margin-top: 1027px;
  }

  .projects .slidernav {
    top: 24px;
    left: 0;
    right: 0;
    width: 93.4973637961%;
    margin-right: auto;
    margin-left: auto;
  }

  .process .element-4,
  .projects .viewport {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .screens .medclient {
    position: relative;
    z-index: 119;
  }

  .slidernav .image {
    height: auto;
  }

  .team {
    top: 2602px;
    left: 0;
    right: 0;
    width: 404px;
    height: 1402px;
    margin-right: auto;
    margin-left: auto;
  }

  .team .alexandra {
    position: relative;
    clear: none;
    z-index: 56;
    width: 360px;
    margin-top: 7px;
    margin-left: 0;
  }

  .team .danil {
    position: relative;
    z-index: 70;
    width: 360px;
    margin-top: 0;
  }

  .team .maxim {
    position: relative;
    clear: both;
    z-index: 49;
    width: 360px;
    margin-top: -283px;
    margin-left: 55.17095%;
  }

  .team .mikhail {
    position: relative;
    clear: none;
    z-index: 42;
    width: 352px;
    margin-top: 0;
    margin-left: 0;
  }

  .team .mikhaill {
    position: relative;
    z-index: 63;
    width: 360px;
    margin-left: 55.17095%;
  }

  .team .nikolay {
    position: relative;
    z-index: 28;
    width: 360px;
  }

  .team .oleg {
    position: relative;
    z-index: 84;
    width: 360px;
    margin-top: 0;
    margin-left: 30.3798%;
  }

  .team .pasha {
    position: relative;
    z-index: 77;
    width: 360px;
    margin-left: 55.17095%;
  }

  .team .pavel {
    position: relative;
    z-index: 35;
    width: 352px;
    margin-left: 57.14728%;
  }

  .up-btn {
    left: 87.8734622144%;
    width: 7.9086115992%;
  }

  .container ._button {
    position: relative;
    z-index: 13;
    width: 29.503916449%;
    height: 41px;
    margin-top: 10px;
    margin-left: 38.79324%;
  }

  .container ._input {
    position: relative;
    width: 46.7362924281%;
  }

  .container ._textarea {
    width: 100.2610966057%;
    margin-left: -0.2611%;
  }

  .about .text-4 {
    width: 82.6010544815%;
  }

  .alexandra .text-41 {
    margin-left: -7.5%;
  }

  .contacts .container-3 {
    position: relative;
    z-index: 135;
  }

  .contacts .container-4 {
    position: relative;
    z-index: 132;
  }

  .container .container-12 {
    margin-left: 13.34995%;
  }

  .container .container-13 {
    margin-left: 12.43929%;
  }

  .container .container-15 {
    position: relative;
    z-index: 16;
    width: 31.6988608221%;
    margin-top: 10px;
    margin-left: 0;
  }

  .container .container-18 {
    width: 100%;
    height: 489px;
    margin-top: 122px;
  }

  .container .container-7 {
    width: 64.7916666666%;
    margin-left: -9.30341%;
  }

  .container .container-8 {
    position: relative;
    z-index: 103;
    margin-left: 6.7206%;
  }

  .container .container-9 {
    position: relative;
    z-index: 109;
    margin-left: 71.10175%;
  }

  .container .text-1 {
    margin-left: 1.87266%;
  }

  .container .text-13 {
    margin-left: 27.54721%;
  }

  .container .text-15 {
    margin-left: 37.21111%;
  }

  .container .text-17 {
    margin-left: 25.073%;
  }

  .container .text-18 {
    margin-left: -0.03021%;
  }

  .container .text-20,
  .container .text-21 {
    margin-left: 0;
  }

  .container .text-23 {
    margin-left: 8.32309%;
  }

  .container .text-5 {
    z-index: 137;
  }

  .container .text-55 {
    margin-left: -0.54054%;
  }

  .container .text-56 {
    margin-left: 3.93822%;
  }

  .container .text-58,
  .container .text-59 {
    margin-left: -0.07009%;
  }

  .container .text-6 {
    z-index: 136;
  }

  .container .text-7 {
    z-index: 134;
  }

  .container .text-8 {
    z-index: 131;
  }

  .container-16 {
    top: 4692px;
    left: 0;
    right: 0;
    width: 66.6080843585%;
    height: 867px;
    margin-right: auto;
    margin-left: auto;
  }

  .container-6 {
    top: 1773px;
    left: 9.6468585237%;
  }

  .navbar .text-9 {
    margin-left: 7.65598%;
  }

  .process .container-10 {
    top: 219px;
    left: 0;
    right: 0;
    width: 85.9402460456%;
    margin-right: auto;
    margin-left: auto;
  }

  .process .element-3 {
    position: relative;
    z-index: 87;
    height: 348px;
  }

  .projects .element-1 {
    z-index: 122;
  }

  .projects .element-2 {
    z-index: 112;
  }

  .prototype .container-14 {
    width: 67.3110720562%;
    height: 322px;
    margin-left: 16.52021%;
  }

  .prototype-2 {
    position: relative;
    z-index: 20;
  }

  .screens .image-7 {
    position: relative;
    z-index: 113;
    height: auto;
  }

  .slidernav .image-1 {
    margin-top: 11px;
    margin-left: 4.3116899999%;
  }

  .slidernav .image-2,
  .slidernav .image-3 {
    margin-top: 1px;
    margin-left: 10.53544%;
  }

  .slidernav .image-4 {
    margin-left: 10.51488%;
  }

  .text-11 {
    position: relative;
    z-index: 129;
    margin-top: -746px;
  }

  .text-12 {
    position: relative;
    z-index: 111;
  }

  .text-19 {
    position: relative;
    z-index: 100;
  }

  .text-26 {
    position: relative;
    z-index: 86;
    margin-left: 0;
  }

  .text-27 {
    position: relative;
    z-index: 21;
    margin-top: 1397px;
    margin-left: -0.17575%;
  }

  .text-57 {
    position: relative;
    z-index: 11;
    margin-left: -0.17575%;
  }

  ._container .text-62 {
    margin-left: 7.05734%;
  }

  ._container-28 {
    position: relative;
    z-index: 1;
    margin-top: 971px;
    margin-left: -0.2581300001%;
  }

  .container ._input-1 {
    z-index: 18;
  }

  .container ._input-2 {
    z-index: 17;
    margin-left: 6.52742%;
  }

  .mainnav ._container-10 {
    clear: none;
    margin-top: 2px;
    margin-left: 4.45964%;
  }

  .mainnav ._container-11 {
    clear: none;
    margin-top: 2px;
    margin-left: 3.1543%;
  }

  .mainnav ._container-12 {
    clear: none;
    margin-top: 2px;
    margin-left: 3.65072%;
  }

  .mainnav ._container-7 {
    margin-top: 2px;
    margin-left: 42.35677%;
  }

  .mainnav ._container-8 {
    clear: none;
    margin-top: 2px;
    margin-left: 3.45378%;
  }

  .mainnav ._container-9 {
    clear: none;
    margin-top: 2px;
    margin-left: 3.61491%;
  }

  .mainnav ._text-10 {
    margin-right: 0.97403%;
  }

  .mainnav ._text-11 {
    margin-right: 0.20398%;
  }

  .mainnav ._text-12 {
    margin-right: 0.37827%;
  }

  .mainnav ._text-9 {
    margin-right: 1.00251%;
  }
}

@media(max-width: 480px) {
  .about {
    position: relative;
    z-index: 143;
    margin-top: -1753px;
  }

  .about .contacts {
    margin-top: 52px;
  }

  .alexandra .back,
  .mikhail .back {
    clear: none;
    margin-top: 0;
  }

  .contacts .text {
    position: relative;
  }

  .container .email {
    position: relative;
    z-index: 130;
    width: 100%;
    margin-left: 0;
  }

  .container .phone {
    position: relative;
    z-index: 133;
    width: 100%;
    margin-top: -19px;
    margin-left: 0;
  }

  .about .image,
  .container .image,
  .container .small-logo,
  .medclient .image-6 {
    height: auto;
  }

  .medclient .container {
    width: 59.7002410648%;
    margin-left: 22.0522%;
  }

  .navbar .mainnav {
    position: relative;
    z-index: 157;
  }

  .navbar .toggle-menu {
    position: relative;
    z-index: 159;
    margin-left: 93.05664%;
  }

  .process {
    position: relative;
    z-index: 99;
    height: 393px;
    margin-left: 0;
  }

  .projects {
    position: relative;
    z-index: 128;
    margin-top: 1124px;
  }

  .projects .element {
    position: relative;
  }

  .projects .slidernav {
    top: 21px;
    left: 0;
    right: 0;
    width: 89.7916666666%;
    margin-right: auto;
    margin-left: auto;
  }

  .projects .viewport {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .screens .medclient {
    position: relative;
    z-index: 119;
  }

  .slidernav .image {
    height: auto;
  }

  .team {
    top: 3113px;
    left: 0;
    right: 0;
    width: 181px;
    height: 2494px;
    margin-right: auto;
    margin-left: auto;
  }

  .team .alexandra {
    position: relative;
    clear: both;
    z-index: 56;
    margin-top: 0;
  }

  .team .danil {
    position: relative;
    clear: both;
    z-index: 70;
  }

  .team .maxim {
    position: relative;
    z-index: 49;
    margin-top: 0;
    margin-left: 0;
  }

  .team .mikhail {
    position: relative;
    clear: both;
    z-index: 42;
    margin-top: -5px;
  }

  .team .mikhaill {
    position: relative;
    z-index: 63;
    margin-top: 0;
    margin-left: 0;
  }

  .team .nikolay {
    position: relative;
    z-index: 28;
  }

  .team .oleg {
    position: relative;
    z-index: 84;
    margin-left: 0;
  }

  .team .pasha {
    position: relative;
    z-index: 77;
    margin-top: 0;
    margin-left: 0;
  }

  .team .pavel {
    position: relative;
    z-index: 35;
    margin-top: 0;
    margin-left: 0;
  }

  .up-btn {
    left: 87.0833333333%;
    width: 8.9583333333%;
  }

  .container ._button {
    position: relative;
    z-index: 13;
    width: 35.2601156069%;
    height: 42px;
    margin-top: 15px;
    margin-left: 17.91908%;
  }

  .container ._input {
    position: relative;
  }

  .container ._textarea {
    width: 99.7109826589%;
    margin-left: 0;
  }

  .about .text-3 {
    margin-top: 14px;
    font-size: 3.75em;
    line-height: 0.88;
  }

  .about .text-4 {
    width: 89.375%;
    margin-top: 15px;
    font-size: 2.25em;
    line-height: 1.28;
  }

  .alexandra .text-41 {
    margin-left: -7.77778%;
    text-align: center;
  }

  .alexandra .text-42 {
    width: 38.8888888888%;
    margin-left: 6.80556%;
  }

  .contacts .container-2 {
    margin-top: 0;
  }

  .contacts .container-3 {
    position: relative;
    z-index: 135;
    margin-top: 14px;
  }

  .contacts .container-4 {
    position: relative;
    z-index: 132;
    margin-top: 26px;
  }

  .container .container-11 {
    width: 99.4305125387%;
    margin-left: 0.11981%;
  }

  .container .container-12 {
    clear: both;
    width: 99.6805111821%;
    height: 59px;
    margin-top: 41px;
    margin-left: 0.14477%;
  }

  .container .container-13 {
    clear: both;
    width: 99.7502247976%;
    height: 62px;
    margin-top: 40px;
    margin-left: 0.11981%;
  }

  .container .container-15 {
    position: relative;
    z-index: 16;
    width: 44.7976878612%;
    margin-top: 15px;
    margin-left: 2.0186099999%;
  }

  .container .container-17 {
    position: relative;
    z-index: 5;
    width: 100.0048830509%;
    height: 481px;
    margin-left: -0.00389%;
  }

  .container .container-18 {
    position: relative;
    z-index: 9;
    height: 463px;
    margin-top: -28px;
  }

  .container .container-7 {
    margin-left: 19.79167%;
  }

  .container .container-8 {
    position: relative;
    clear: both;
    z-index: 103;
    width: 64.7916666666%;
    margin-top: 6px;
    margin-left: 19.79167%;
  }

  .container .container-9 {
    position: relative;
    z-index: 109;
    width: 64.7916666666%;
    margin-top: 5px;
    margin-left: 19.69727%;
  }

  .container .text-1 {
    margin-left: 1.89022%;
  }

  .container .text-13 {
    float: none;
    margin-right: auto;
    margin-left: auto;
  }

  .container .text-14 {
    min-height: 80px;
    margin-top: 0;
    font-size: 1.313em;
  }

  .container .text-15 {
    float: none;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .container .text-16 {
    min-height: 50px;
    font-size: 1.313em;
  }

  .container .text-17 {
    float: none;
    width: 28.9403607496%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .container .text-18 {
    min-height: 90px;
    margin-left: -0.03015%;
    font-size: 1.313em;
  }

  .container .text-23 {
    margin-left: 8.32332%;
    font-size: 1.25em;
  }

  .container .text-20,
  .container .text-22,
  .container .text-24 {
    font-size: 1.5em;
  }

  .container .text-21,
  .container .text-25 {
    font-size: 1.25em;
  }

  .container .text-5 {
    visibility: hidden;
    z-index: 137;
    margin-left: 0.35613%;
  }

  .container .text-55 {
    margin-left: -0.50403%;
  }

  .container .text-56 {
    margin-left: 3.91129%;
  }

  .container .text-58,
  .container .text-59 {
    width: 99.9961133351%;
    margin-left: 0.00389%;
    text-align: center;
  }

  .container .text-6 {
    z-index: 136;
    width: 99.493670886%;
    margin-left: 0.36503%;
  }

  .container .text-60,
  .container .text-61,
  .danil .text-47,
  .mikhaill .text-44,
  .nikolay .text-29,
  .pavel .text-32 {
    text-align: center;
  }

  .container .text-7 {
    visibility: hidden;
    z-index: 134;
    margin-top: 1px;
    margin-left: 0;
  }

  .container .text-8 {
    visibility: hidden;
    z-index: 131;
    margin-left: 0;
  }

  .container-16 {
    top: 6300px;
    left: 0;
    right: 0;
    width: 83.75%;
    height: 917px;
    margin-right: auto;
    margin-left: auto;
  }

  .container-6 {
    top: 1870px;
    left: -0.1171875%;
    width: 100%;
  }

  .danil .text-48 {
    margin-left: 11.1328099999%;
  }

  .maxim .text-38 {
    margin-left: -5.27778%;
    text-align: center;
  }

  .maxim .text-39 {
    margin-left: -1.8967%;
  }

  .mikhail .text-35 {
    margin-left: -1.41602%;
    text-align: center;
  }

  .mikhail .text-36 {
    margin-left: 13.05487%;
  }

  .mikhaill .text-45 {
    margin-left: 9.74392%;
  }

  .navbar .text-9 {
    margin-left: 7.65625%;
  }

  .oleg .text-53 {
    width: 42.2222222222%;
    margin-left: 4.30556%;
    text-align: center;
  }

  .oleg .text-54 {
    width: 19.7222222222%;
    margin-left: 16.25%;
  }

  .pasha .text-50 {
    margin-left: -1.38889%;
    text-align: center;
  }

  .pasha .text-51 {
    width: 28.6111111111%;
    margin-left: 13.18142%;
  }

  .process .container-10 {
    top: 44px;
    left: 0;
    right: 0;
    width: 65.2083333333%;
    height: 296px;
    margin-right: auto;
    margin-left: auto;
  }

  .process .element-3 {
    position: relative;
    z-index: 87;
    height: 393px;
  }

  .process .element-4 {
    visibility: hidden;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .projects .element-1 {
    z-index: 122;
  }

  .projects .element-2 {
    z-index: 112;
  }

  .prototype .container-14 {
    width: 72.0833333333%;
    height: 417px;
    margin-top: 36px;
    margin-left: 16.66667%;
  }

  .prototype-2 {
    position: relative;
    z-index: 20;
  }

  .screens .image-7 {
    position: relative;
    z-index: 113;
    height: auto;
  }

  .slidernav .image-1 {
    margin-top: 10px;
    margin-left: 4.87239%;
  }

  .slidernav .image-2,
  .slidernav .image-3 {
    margin-top: 0;
    margin-left: 6.72854%;
  }

  .slidernav .image-4 {
    margin-left: 6.70679%;
  }

  .text-11 {
    position: relative;
    z-index: 129;
  }

  .text-12 {
    position: relative;
    z-index: 111;
  }

  .text-19 {
    position: relative;
    z-index: 100;
    margin-top: 616px;
  }

  .text-26 {
    position: relative;
    z-index: 86;
  }

  .text-27 {
    position: relative;
    z-index: 21;
    margin-top: 2494px;
    margin-left: 0;
  }

  .text-57 {
    position: relative;
    z-index: 11;
    margin-left: 0;
  }

  ._container .text-62 {
    margin-left: 0.11719%;
    font-style: normal;
    font-weight: 300;
    text-align: center;
  }

  ._container-28 {
    position: relative;
    z-index: 1;
    margin-top: 972px;
    margin-left: -0.11719%;
  }

  .container ._container-25 {
    height: 481px;
  }

  .container ._container-27 {
    width: 100.0097665787%;
    height: 540px;
    margin-left: -0.00777%;
  }

  .container ._input-1 {
    z-index: 18;
    width: 100%;
  }

  .container ._input-2 {
    clear: both;
    z-index: 17;
    width: 99.7109826589%;
    margin-top: 22px;
    margin-left: 0;
  }
}

@media(max-width: 300px) {
  body {
    font-size: 1em;
  }

  .about {
    position: relative;
    z-index: 143;
    height: 848px;
    margin-top: -1486px;
  }

  .about .contacts {
    width: 299px;
    margin-top: 29px;
  }

  .about .image {
    width: 157px;
    height: auto;
    margin-top: 26px;
  }

  .contacts .text {
    position: relative;
  }

  .container .email {
    position: relative;
    z-index: 130;
  }

  .container .image {
    height: auto;
    margin-left: -0.21322%;
  }

  .container .phone {
    position: relative;
    z-index: 133;
  }

  .container .small-logo {
    height: auto;
  }

  .medclient .container {
    width: 99.457767343%;
    margin-left: 0.51897%;
  }

  .navbar .mainnav {
    position: relative;
    z-index: 157;
    margin-top: -32px;
  }

  .navbar .toggle-menu {
    position: relative;
    z-index: 159;
    width: 10.3333333333%;
    margin-top: 14px;
    margin-left: 86.32813%;
  }

  .process {
    position: relative;
    z-index: 99;
  }

  .projects {
    position: relative;
    z-index: 128;
    height: 521px;
    margin-top: 965px;
  }

  .projects .element {
    position: relative;
  }

  .projects .slidernav {
    left: 0;
    right: 0;
    width: 89.6666666666%;
    height: 62px;
    margin-right: auto;
    margin-left: auto;
  }

  .projects .viewport {
    top: 97px;
    left: 0;
    right: 0;
    width: 93.3333333333%;
    height: 388px;
    margin-right: auto;
    margin-left: auto;
  }

  .screens .medclient {
    position: relative;
    z-index: 119;
  }

  .slidernav .image {
    height: auto;
  }

  .team {
    top: 2873px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .team .alexandra {
    position: relative;
    z-index: 56;
  }

  .team .danil {
    position: relative;
    z-index: 70;
  }

  .team .maxim {
    position: relative;
    z-index: 49;
  }

  .team .mikhail {
    position: relative;
    z-index: 42;
  }

  .team .mikhaill {
    position: relative;
    z-index: 63;
  }

  .team .nikolay {
    position: relative;
    z-index: 28;
  }

  .team .oleg {
    position: relative;
    z-index: 84;
  }

  .team .pasha {
    position: relative;
    z-index: 77;
  }

  .team .pavel {
    position: relative;
    z-index: 35;
  }

  .up-btn {
    left: 82.8802083333%;
    width: 17%;
  }

  .container ._button {
    position: relative;
    z-index: 13;
    margin-left: 9.70313%;
  }

  .container ._input {
    position: relative;
  }

  .container ._textarea {
    width: 100%;
  }

  .about .text-3 {
    margin-top: 0;
  }

  .about .text-4 {
    width: 100%;
    margin-top: 28px;
    font-size: 1.313em;
    line-height: 1.18;
  }

  .contacts .container-3 {
    position: relative;
    z-index: 135;
  }

  .contacts .container-4 {
    position: relative;
    z-index: 132;
  }

  .container .container-12 {
    margin-left: 0.14151%;
  }

  .container .container-11,
  .container .container-13 {
    margin-left: 0.11203%;
  }

  .container .container-15 {
    position: relative;
    z-index: 16;
    margin-left: 6.01563%;
  }

  .container .container-17 {
    position: relative;
    z-index: 5;
    margin-left: 0;
  }

  .container .container-18 {
    position: relative;
    z-index: 9;
    margin-top: 18px;
  }

  .container .container-7 {
    width: 70%;
    height: 190px;
    margin-left: 17%;
  }

  .container .container-8 {
    position: relative;
    z-index: 103;
    width: 70.3333333333%;
    margin-top: 0;
    margin-left: 16.66667%;
  }

  .container .container-9 {
    position: relative;
    z-index: 109;
    width: 75.3333333333%;
    margin-top: 0;
    margin-left: 14.32813%;
  }

  .container .text-1 {
    margin-left: 1.8797%;
  }

  .container .text-13 {
    width: 36.6666666666%;
  }

  .container .text-18 {
    margin-left: -0.02074%;
  }

  .container .text-23 {
    margin-left: 8.31707%;
  }

  .container .text-5 {
    z-index: 137;
    margin-left: 0.35013%;
  }

  .container .text-55 {
    margin-left: -0.51157%;
  }

  .container .text-56 {
    margin-left: 3.92978%;
  }

  .container .text-58,
  .container .text-59 {
    margin-left: 0;
  }

  .container .text-6 {
    z-index: 136;
    margin-left: 0.36058%;
  }

  .container .text-7 {
    z-index: 134;
  }

  .container .text-8 {
    z-index: 131;
  }

  .container-16 {
    top: 6080px;
    left: 0;
    right: 0;
    width: 99.6666666666%;
    margin-right: auto;
    margin-left: auto;
  }

  .container-6 {
    top: 1606px;
    left: 0;
    height: 640px;
  }

  .medclient .image-6 {
    visibility: hidden;
    height: auto;
    margin-top: 22px;
  }

  .medclient .text-2 {
    margin-top: 34px;
    margin-left: -0.15625%;
  }

  .process .container-10 {
    left: 0;
    right: 0;
    width: 88.3333333333%;
    margin-right: auto;
    margin-left: auto;
  }

  .process .element-3 {
    position: relative;
    z-index: 87;
  }

  .process .element-4 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .projects .element-1 {
    z-index: 122;
    height: 97px;
  }

  .projects .element-2 {
    z-index: 112;
    height: 388px;
  }

  .prototype .container-14 {
    width: 100%;
    height: 395px;
    margin-left: 0;
  }

  .prototype-2 {
    position: relative;
    z-index: 20;
    height: 442px;
  }

  .screens .image-7 {
    position: relative;
    z-index: 113;
    height: auto;
  }

  .slidernav .image-1 {
    width: 52px;
    margin-top: 7px;
    margin-left: 0.37175%;
  }

  .slidernav .image-2,
  .slidernav .image-3 {
    width: 52px;
    margin-left: 4.82691%;
  }

  .slidernav .image-4 {
    width: 67px;
    margin-left: 4.80948%;
  }

  .text-11 {
    position: relative;
    z-index: 129;
    margin-top: -638px;
  }

  .text-12 {
    position: relative;
    z-index: 111;
    margin-top: -34px;
  }

  .text-19 {
    position: relative;
    z-index: 100;
    margin-top: 640px;
  }

  .text-26 {
    position: relative;
    z-index: 86;
  }

  .text-27 {
    position: relative;
    z-index: 21;
  }

  .text-57 {
    position: relative;
    z-index: 11;
  }

  ._container .text-62 {
    width: 100%;
    margin-top: 16px;
    margin-left: 0;
    font-size: 1.5em;
    line-height: 1.18;
  }

  ._container-28 {
    position: relative;
    z-index: 1;
    margin-top: 1082px;
    margin-left: 0;
  }

  .container ._container-27 {
    margin-left: -0.00523%;
  }

  .container ._input-1 {
    z-index: 18;
  }

  .container ._input-2 {
    z-index: 17;
    width: 100%;
  }
}