body {
  background-color: rgb(255, 255, 255);
  font: 300 1.125em/1.38 'Open Sans';
  color: rgb(0, 0, 0);
}

.offer-2 p {
  margin-bottom: 1em;
}

.about {
  position: relative;
  float: left;
  z-index: 155;
  width: 100%;
  height: 668px;
}

.about .image {
  width: 178px;
  max-width: 178px;
  margin: 198px auto 0;
  overflow: hidden;
}

.alexandra {
  position: absolute;
  top: 285px;
  left: 37.6262626262%;
  z-index: 55;
  width: 25.5425347222%;
  height: 253px;
}

.alexandra .back {
  z-index: 52;
  width: 175px;
}

.alexandra .container {
  z-index: 51;
  width: 94px;
}

.alexandra .flip3d {
  width: 86%;
}

.alexandra .front {
  left: 0;
  z-index: 53;
  width: 175px;
  background-image: url('../images/sasha.png');
  background-position: center center;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  height: 174px;
  border-radius: 85px;
  background-color: #f2f2f2;
}

.back .container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 55px;
  margin: auto;
}

.back .text {
  display: block;
  position: absolute;
  min-height: 51px;
  font: normal 2.222em/1.38 FontAwesome;
  color: rgb(110, 110, 110);
}

.bar {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 48px;
  margin: 0 auto;
}

.bar .blog {
  display: block;
  float: right;
  width: 34px;
  min-height: 20px;
  font-size: 0.833em;
  font-weight: 400;
  line-height: 1.18;
  color: rgb(167, 163, 163);
}

.bar .offer {
  display: block;
  float: right;
  width: 35px;
  height: 20px;
  min-height: 20px;
  font-size: 0.833em;
  font-weight: 400;
  line-height: 1.18;
  color: rgb(167, 163, 163);
}

.bar .process,
.bar .projects {
  display: block;
  float: right;
  width: 55px;
  height: 20px;
  min-height: 20px;
  font-size: 0.833em;
  font-weight: 400;
  line-height: 1.18;
  color: rgb(167, 163, 163);
}

.bar .team {
  display: block;
  float: right;
  width: 40px;
  height: 20px;
  min-height: 20px;
  font-size: 0.833em;
  font-weight: 400;
  line-height: 1.18;
  color: rgb(167, 163, 163);
}

.blog .wrapper {
  width: 400px;
  height: 400px;
}

.contacts {
  width: 549px;
  height: 63px;
  margin: 40px auto 0;
}

.contacts .container {
  position: relative;
  float: left;
}

.contacts .text {
  font-family: FontAwesome;
  font-weight: normal;
  color: rgb(0, 0, 0);
}

.container .container {
  float: left;
  height: 52px;
}

.container .image {
  float: left;
  overflow: hidden;
}

.danil {
  position: absolute;
  top: 570px;
  left: 0;
  z-index: 71;
  width: 27.4305555555%;
  height: 253px;
}

.danil .back {
  z-index: 68;
  width: 175px;
}

.danil .flip3d {
  width: 81.0126582278%;
}

.danil .front {
  left: 0;
  z-index: 69;
  width: 175px;
  background-image: url('../images/danil.png');
  background-position: center center;
}

.email {
  display: block;
  float: left;
  width: 82.7160493827%;
  min-height: 24px;
  margin: 2px 0 0 1.5949199999%;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.28;
  color: rgb(52, 151, 211);
}

.fhirbase {
  position: relative;
  float: left;
  clear: both;
  width: 98.75%;
  height: 526px;
  margin: -524px 0 0 100%;
}

.fhirbase .container {
  position: relative;
  width: 100%;
  height: 62px;
  margin: 0 auto;
}

.flip3d {
  position: relative;
  height: 174px;
  margin: 0 auto;
}

.foodtaster {
  position: relative;
  float: left;
  clear: both;
  width: 99.375%;
  height: 526px;
  margin: -526px 0 0 300%;
}

.foodtaster .container,
.formstamp .container {
  position: relative;
  width: 80%;
  height: 62px;
  margin: 0 auto;
}

.foodtaster .text {
  min-height: 50px;
}

.formstamp {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 526px;
  margin: -525px 0 0 200%;
}

.fhirbase .text,
.formstamp .text {
  min-height: 50px;
}

.front {
  position: absolute;
  top: 0;
  height: 174px;
  border-radius: 100px;
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-color: rgb(255, 255, 255);
}

.image {
  display: block;
  height: auto;
}

.logo {
  display: block;
  position: absolute;
  top: 18px;
  left: 10.0833333333%;
  z-index: 171;
  width: 197px;
  max-width: 1200px;
  height: auto;
  overflow: hidden;
}

.maxim {
  position: absolute;
  top: 285px;
  left: 0;
  z-index: 46;
  width: 27.4305555555%;
  height: 253px;
}

.maxim .back {
  z-index: 43;
  width: 175px;
}

.maxim .container {
  z-index: 42;
  width: 94px;
}

.maxim .flip3d {
  width: 79.1714614499%;
}

.maxim .front {
  left: 0;
  z-index: 44;
  width: 175px;
  background-image: url('../images/maxim.png');
  background-position: center center;
}

.medclient {
  float: left;
  width: 99.7916666666%;
  height: 525px;
  margin-top: -182px;
}

.medclient .container {
  position: relative;
  float: left;
  width: 99.0605427974%;
  height: 62px;
  margin-left: 0.61815%;
}

.medclient .text {
  min-height: 50px;
}

.mikhail {
  position: absolute;
  top: 0;
  left: 73.5984848484%;
  z-index: 37;
  width: 26.7045454545%;
  height: 253px;
}

.mikhail .back {
  z-index: 34;
  width: 175px;
}

.mikhail .container {
  z-index: 33;
  width: 130px;
}

.mikhail .flip3d {
  width: 82.269503546%;
}

.mikhail .front {
  left: 0.5555073344%;
  z-index: 35;
  width: 175px;
  background-image: url('../images/mikhail.png');
  background-position: center top;
}

.mikhaill {
  position: absolute;
  top: 285px;
  left: 73.5984848484%;
  z-index: 64;
  width: 26.7045454545%;
  height: 253px;
}

.mikhaill .back {
  z-index: 61;
  width: 180px;
}

.mikhaill .container {
  z-index: 60;
  width: 94px;
}

.mikhaill .flip3d {
  width: 84.1607565011%;
}

.mikhaill .front {
  left: 0;
  z-index: 62;
  width: 180px;
  background-image: url('../images/misha.png');
  background-position: center center;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 173;
  width: 100%;
  height: 74px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.nikolay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 18;
  width: 27.4305555555%;
  height: 253px;
}

.nikolay .back {
  z-index: 15;
  width: 175px;
}

.nikolay .container {
  z-index: 14;
  width: 134px;
}

.nikolay .flip3d {
  width: 80%;
}

.nikolay .front {
  left: 0;
  z-index: 16;
  width: 175px;
  background-image: url('../images/nikolay.png');
  background-position: left bottom;
}

.offer .text {
  float: left;
  width: 270px;
  height: 270px;
  padding: 20px;
  border: 1px solid rgb(171, 171, 171);
  border-radius: 5px;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.oleg {
  position: absolute;
  top: 570px;
  left: 73.5984848484%;
  z-index: 87;
  width: 26.7045454545%;
  height: 253px;
}

.oleg .back {
  z-index: 84;
  width: 180px;
}

.oleg .container {
  z-index: 83;
  width: 94px;
}

.oleg .flip3d {
  width: 85.5791962174%;
}

.oleg .front {
  left: 0;
  z-index: 85;
  width: 180px;
  background-image: url('../images/oleg.png');
  background-position: right bottom;
}

.pasha {
  position: absolute;
  top: 570px;
  left: 37.6262626262%;
  z-index: 78;
  width: 25.5385890151%;
  height: 253px;
}

.pasha .back {
  z-index: 75;
  width: 175px;
}

.pasha .flip3d {
  width: 85.5310930861%;
}

.pasha .front {
  left: 0;
  z-index: 76;
  width: 175px;
  background-image: url('../images/pasha.png');
  background-position: center center;
}

.pavel {
  position: absolute;
  top: 0;
  left: 37.6262626262%;
  z-index: 27;
  width: 25.5425347222%;
  height: 253px;
}

.pavel .back {
  z-index: 24;
  width: 175px;
}

.pavel .container {
  z-index: 23;
  width: 94px;
}

.pavel .flip3d {
  width: 87.0008496176%;
}

.pavel .front {
  left: 0;
  z-index: 25;
  width: 175px;
  background-image: url('../images/pavel.png');
  background-position: center center;
}

.phone {
  position: relative;
  float: left;
  clear: both;
  z-index: 148;
  width: 80.8139534883%;
  min-height: 24px;
  margin: -26px 0 0 11.96008%;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.28;
  color: rgb(85, 85, 85);
}

.process .element {
  position: absolute;
  top: 11px;
  left: 0;
  right: 0;
  z-index: 90;
  width: 76.6666666666%;
  height: 296px;
  margin: 0 auto;
  background-image: url('../images/Process_new.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

.process .text {
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.projects .element {
  position: relative;
  float: left;
  z-index: 108;
  width: 100%;
  height: 552px;
  margin-top: 133px;
  background-color: rgb(244, 242, 242);
}

.prototype {
  display: block;
  float: right;
  width: 70px;
  height: 20px;
  min-height: 20px;
  font-size: 0.833em;
  font-weight: 400;
  line-height: 1.18;
  color: rgb(167, 163, 163);
}

.screens {
  position: absolute;
  top: 209px;
  left: 0;
  z-index: 133;
  width: 100%;
  height: 343px;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

.slidernav {
  position: absolute;
  top: 19px;
  left: 0;
  right: 0;
  z-index: 139;
  width: 600px;
  max-width: 600px;
  height: 87px;
  margin: 0 auto;
}

.slidernav .image {
  float: left;
}

.text_01 {
  position: absolute;
  top: 0;
  left: 5.4160974499%;
  z-index: 151;
  width: 93.8154599271%;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(85, 85, 85);
}

.toggle-menu {
  display: block;
  visibility: hidden;
  float: left;
  width: 27px;
  min-height: 40px;
  font: normal 1.667em/1.38 FontAwesome;
  color: rgb(0, 0, 0);
}

.up-btn {
  display: block;
  position: fixed;
  top: 400px;
  left: 92%;
  z-index: 174;
  width: 47px;
  min-height: 39px;
  font: normal 2.944em/1.38 FontAwesome;
  color: rgba(45, 45, 45, 0.08);
}

.up-btn:hover {
  color: rgba(45, 45, 45, 0.2);
}

.viewport {
  position: absolute;
  top: 133px;
  left: 0;
  right: 0;
  z-index: 134;
  width: 80%;
  max-width: 960px;
  height: 552px;
  margin: 0 auto;
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
}

.container ._text {
  float: left;
}

.maxim ._text {
  float: left;
  clear: both;
  width: 130%;
  margin-left: -14.9813%;
  text-align: center;
  color: rgb(0, 0, 0);
}

.alexandra ._text,
.mikhail ._text,
.nikolay ._text {
  float: left;
  clear: both;
  text-align: center;
  color: rgb(0, 0, 0);
}

.oleg ._text {
  float: left;
  clear: both;
  width: 100%;
  line-height: 1.18;
  text-align: center;
  color: rgb(0, 0, 0);
}

.pasha ._text {
  float: left;
  clear: both;
  line-height: 1.18;
  text-align: center;
  color: rgb(0, 0, 0);
}

.danil ._text,
.mikhaill ._text,
.pavel ._text {
  float: left;
  clear: both;
  width: 100%;
  text-align: center;
  color: rgb(0, 0, 0);
}

.slidernav ._image {
  width: 14.7651006711%;
}

.blog-2 {
  position: relative;
  z-index: 5;
  width: 820px;
  max-width: 820px;
  height: 820px;
  margin: 117px auto 0;
}

.container-1 {
  width: 100%;
  height: 34px;
  margin-left: -0.00854%;
}

.container-10 {
  width: 29.4506195335%;
  margin-left: 7.80559%;
}

.container-11 {
  width: 24.6355685131%;
  margin-left: 9.43953%;
}

.container-2 {
  clear: both;
  z-index: 150;
  width: 191px;
  height: 29px;
  margin-left: 11.83402%;
}

.container-3 {
  z-index: 147;
  width: 43.897996357%;
  height: 29px;
}

.container-8 {
  visibility: hidden;
  position: absolute;
  top: 359px;
  left: 0;
  right: 0;
  z-index: 100;
  width: 56.4999999999%;
  height: 52px;
  margin: 0 auto;
}

.container-9 {
  width: 28.5520753042%;
  margin-left: 0.06453%;
}

.image-10 {
  width: 50px;
  margin: 5px 0 0 41.27401%;
}

.image-11 {
  float: left;
  clear: both;
  width: 958px;
  margin-top: 35px;
  overflow: hidden;
}

.image-12 {
  position: relative;
  z-index: 111;
  width: 77px;
  margin: -1px 0 0 37.82655%;
}

.image-13 {
  float: left;
  clear: both;
  width: 960px;
  margin: 38px 0 0 -0.41765%;
  overflow: hidden;
}

.image-2 {
  margin: 12px 0 0 -0.04688%;
  overflow: visible;
}

.image-3 {
  margin-left: 12.19271%;
  overflow: hidden;
}

.image-4 {
  margin-left: 12.34896%;
  overflow: hidden;
}

.image-5 {
  width: 18.6241610738%;
  margin-left: 12.49219%;
  overflow: hidden;
}

.image-6 {
  width: 83px;
  margin-left: 36.04123%;
}

.image-7 {
  float: left;
  clear: both;
  width: 958px;
  margin-top: 38px;
  overflow: hidden;
}

.image-8 {
  width: 48px;
  margin: 4px 0 0 43.56375%;
}

.image-9 {
  float: left;
  clear: both;
  width: 940px;
  margin: 44px 0 0 0.51919%;
  overflow: hidden;
}

.offer-2 {
  position: absolute;
  top: 1838px;
  left: 0;
  right: 0;
  z-index: 106;
  width: 840px;
  height: 270px;
  margin: 0 auto;
}

.process-2 {
  position: absolute;
  top: 2225px;
  left: 0;
  right: 0;
  z-index: 101;
  width: 100%;
  max-width: 1200px;
  height: 317px;
  margin: 0 auto;
}

.projects-2 {
  position: relative;
  float: left;
  clear: both;
  z-index: 140;
  width: 100%;
}

.team-2 {
  position: relative;
  z-index: 88;
  width: 66%;
  max-width: 792px;
  height: 835px;
  margin: 2659px auto 0;
  overflow: visible;
}

.text-1 {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 1px;
  font-size: 4.167em;
  font-weight: 700;
  line-height: 0.98;
  text-align: center;
  letter-spacing: -4px;
  color: rgb(0, 0, 0);
}

.text-10 {
  width: 99.0506329113%;
  margin: 23px auto 0;
  font-size: 1.333em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-11 {
  width: 25.78125%;
  margin-top: 5px;
  font-size: 1.944em;
  font-weight: 600;
  color: rgb(98, 98, 98);
}

.text-13 {
  position: relative;
  clear: both;
  z-index: 110;
  width: 24.3714683482%;
  margin: -55px 0 0 47.90558%;
  font-size: 1.944em;
  font-weight: 600;
  color: rgb(98, 98, 98);
}

.text-11:hover,
.text-13:hover,
.text-7:hover,
.text-9:hover {
  line-height: 1.38;
  text-decoration: none;
}

.text-12,
.text-14 {
  width: 79.8333333333%;
  margin: 23px auto 0;
  font-size: 1.333em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-15 {
  position: relative;
  float: left;
  clear: both;
  z-index: 107;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 1.778em;
  font-weight: 400;
  line-height: 1.18;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: rgb(117, 117, 117);
}

.text-16 {
  line-height: 1.58;
}

.text-17 {
  margin-left: 1.72247%;
  line-height: 1.48;
}

.text-18 {
  margin-left: 1.72247%;
  line-height: 1.28;
}

.text-19 {
  position: relative;
  float: left;
  clear: both;
  z-index: 102;
  width: 100%;
  margin-top: 270px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 1.778em;
  font-weight: 400;
  line-height: 1.18;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: rgb(117, 117, 117);
}

.text-2 {
  width: 100%;
  min-height: 55px;
  margin: 82px auto 0;
  font-size: 2.333em;
  line-height: 1.08;
  text-align: center;
  color: #7f8c8d;
}

.text-21 {
  clear: both;
  width: 100%;
  min-height: 27px;
  font-family: FontAwesome;
  font-size: 0.889em;
  font-weight: 400;
}

.text-22 {
  width: 99.5227832512%;
  min-height: 25px;
  font-size: 1em;
}

.text-23 {
  clear: both;
  width: 91.1330049261%;
  min-height: 27px;
  margin-left: 3.89702%;
  font-family: FontAwesome;
  font-size: 0.889em;
  font-weight: 400;
}

.text-20,
.text-24 {
  width: 100%;
  min-height: 25px;
  font-size: 1em;
}

.text-25 {
  clear: both;
  width: 97.3684210526%;
  min-height: 27px;
  margin-left: 1.00103%;
  font-family: FontAwesome;
  font-size: 0.889em;
  font-weight: 400;
}

.text-26 {
  position: relative;
  float: left;
  clear: both;
  z-index: 89;
  width: 100%;
  margin-top: 317px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 1.778em;
  font-weight: 400;
  line-height: 1.18;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: rgb(117, 117, 117);
}

.text-27 {
  top: 0;
  left: 57.4468085106%;
  z-index: 82;
  width: 40px;
}

.text-28 {
  top: 0;
  left: 0;
  z-index: 81;
  width: 39px;
}

.text-29 {
  margin-top: 20px;
  font-size: 1.389em;
}

.text-3 {
  width: 3.2786885245%;
  min-height: 32px;
  margin: -3px 0 0 0.27892%;
  font-size: 1.389em;
  line-height: 1.38;
}

.text-30 {
  margin-top: 4px;
  font-size: 0.944em;
}

.text-31 {
  top: 60px;
  left: 0;
  right: 0;
  z-index: 74;
  width: 39px;
  margin: 0 auto;
}

.text-32 {
  width: 120%;
  margin: 20px 0 0 -9.99614%;
  font-size: 1.389em;
}

.text-33 {
  width: 100%;
  margin-top: 4px;
  font-size: 0.944em;
}

.text-34 {
  top: 60px;
  left: 0;
  right: 0;
  z-index: 67;
  width: 39px;
  margin: 0 auto;
}

.text-37 {
  top: 0;
  left: 57.4468085106%;
  z-index: 59;
  width: 40px;
}

.text-38 {
  top: 0;
  left: 0;
  z-index: 58;
  width: 39px;
}

.text-4 {
  position: relative;
  z-index: 149;
  width: 12.2093023255%;
  min-height: 22px;
  margin-top: 1px;
  font-size: 1.778em;
  line-height: 0.88;
}

.text-41 {
  top: 0;
  left: 57.4468085106%;
  z-index: 50;
  width: 40px;
}

.text-42 {
  top: 0;
  left: 0;
  z-index: 49;
  width: 39px;
}

.text-43 {
  width: 140%;
  margin: 20px 0 0 -19.99691%;
  font-size: 1.389em;
  line-height: 1.18;
}

.text-45 {
  top: 0;
  left: 57.4468085106%;
  z-index: 41;
  width: 40px;
}

.text-46 {
  top: 0;
  left: 0;
  z-index: 40;
  width: 39px;
}

.text-49 {
  top: 0;
  left: 0;
  z-index: 32;
  width: 39px;
}

.text-5 {
  width: 11.9658119658%;
  min-height: 22px;
  font-size: 1.278em;
  line-height: 1.28;
}

.text-50 {
  top: 0;
  left: 69.2307692307%;
  z-index: 31;
  width: 40px;
}

.text-51 {
  top: 0;
  left: 35.3846153846%;
  z-index: 30;
  width: 39px;
}

.text-52 {
  width: 110%;
  margin: 20px 0 0 -4.99409%;
  font-size: 1.389em;
  line-height: 1.18;
}

.text-54 {
  top: 0;
  left: 57.4468085106%;
  z-index: 22;
  width: 40px;
}

.text-55 {
  top: 0;
  left: 0;
  z-index: 21;
  width: 39px;
}

.text-35,
.text-39,
.text-47,
.text-56 {
  margin-top: 20px;
  font-size: 1.389em;
  line-height: 1.18;
}

.text-36,
.text-40,
.text-48,
.text-57 {
  margin-top: 4px;
  font-size: 0.944em;
  line-height: 1.38;
}

.text-58 {
  top: 0;
  left: 0.7462686567%;
  z-index: 13;
  width: 30px;
}

.text-59 {
  top: 0;
  left: 70.1492537313%;
  z-index: 12;
  width: 40px;
}

.text-6 {
  position: relative;
  float: left;
  clear: both;
  z-index: 141;
  width: 100%;
  margin-top: 251px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 1.778em;
  font-weight: 400;
  line-height: 1.18;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: rgb(117, 117, 117);
}

.text-60 {
  top: 0;
  left: 32.0895522388%;
  z-index: 11;
  width: 39px;
}

.text-61 {
  width: 120%;
  margin: 20px 0 0 -9.98274%;
  font-size: 1.389em;
  line-height: 1.18;
}

.text-44,
.text-53,
.text-62 {
  width: 100%;
  margin-top: 4px;
  font-size: 0.944em;
  line-height: 1.38;
}

.text-63 {
  position: relative;
  float: left;
  clear: both;
  z-index: 8;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 1.778em;
  font-weight: 400;
  line-height: 1.18;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: rgb(117, 117, 117);
}

.text-64 {
  position: relative;
  float: left;
  clear: both;
  z-index: 6;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 1.778em;
  font-weight: 400;
  line-height: 1.18;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: rgb(117, 117, 117);
}

.text-7 {
  width: 18.8619599578%;
  margin: 7px 0 0 1.16405%;
  font-size: 1.944em;
  font-weight: 600;
  color: rgb(98, 98, 98);
}

.text-8 {
  float: left;
  clear: both;
  width: 98.7473903966%;
  margin: 23px 0 0 0.61815%;
  font-size: 1.333em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-9 {
  width: 15.75%;
  margin-top: 4px;
  font-size: 1.944em;
  font-weight: 600;
  color: rgb(98, 98, 98);
}

.wrapper-1 {
  position: relative;
  z-index: 7;
  width: 100%;
  height: 700px;
  margin: 117px auto 0;
}

.wrapper-2 {
  position: relative;
  float: left;
  z-index: 2;
}

.wrapper-3 {
  position: absolute;
  top: 0;
  left: 51.2195121951%;
  z-index: 1;
}

.wrapper-4 {
  position: relative;
  float: left;
  clear: both;
  z-index: 4;
  margin-top: 20px;
}

.wrapper-5 {
  position: absolute;
  top: 420px;
  left: 51.2195121951%;
  z-index: 3;
}

._text-47 {
  position: relative;
  float: left;
  clear: both;
  z-index: 0;
  width: 100%;
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  border-top: 1px solid rgb(197, 197, 197);
  font-size: 1.111em;
  line-height: 1.18;
  text-align: center;
  color: rgb(117, 117, 117);
}

.bar ._container-10 {
  position: relative;
  float: left;
  clear: both;
  z-index: 157;
  width: 29px;
  height: 41px;
  margin: -30px 0 0 94.41406%;
}

.bar ._container-11 {
  position: relative;
  float: right;
  clear: both;
  z-index: 159;
  width: 34px;
  height: 20px;
  margin: -31px 1.4420599999% 0 0;
}

.bar ._container-4 {
  float: right;
  width: 480px;
  height: 59px;
  margin-right: 10%;
}

.bar ._container-5 {
  float: right;
  width: 57px;
  height: 20px;
  margin: 28px 85.57617% 0 0;
}

.bar ._container-6 {
  float: right;
  clear: both;
  width: 35px;
  height: 20px;
  margin: -20px 71.2109399999% 0 0;
}

.bar ._container-7 {
  float: right;
  clear: both;
  width: 55px;
  height: 20px;
  margin: -20px 51.6992199999% 0 0;
}

.bar ._container-8 {
  float: right;
  clear: both;
  width: 40px;
  height: 20px;
  margin: -20px 36.5429699999% 0 0;
}

.bar ._container-9 {
  float: left;
  clear: both;
  width: 69px;
  height: 20px;
  margin: -21px 0 0 69.68099%;
}

.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: FontAwesome;
  font-style: inherit;
  font-size: 3.056em;
  font-weight: Regular;
  text-transform: inherit;
  text-decoration: none;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: rgb(171, 171, 171);
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}