/* ----------------------------------
				FULLSCREEN
 ----------------------------------- */

.about {
	height: 100%;
	text-align: center;
}

/*{
	max-width: 1200px;
	margin: 0 auto;
	height: 100%;
}*/

.projects {
	top: 100%;
}

.process {
	height: 100%;
}

.team {
	position: absolute;
	text-align: center;
	top:101%
}
.persons {
	position: relative;
	margin: 0 auto;
	width: 750px;
}
/* ----------------------------------
				ABOUT
 ----------------------------------- */

.about {
	padding-top: 50px;
}
.contacts {
	margin-top: 50px; 
}

/* ----------------------------------
			NAVIGATION
 ----------------------------------- */

.mainnav {
	width: 100%;
}

.mainnav ul {
	position: fixed;
	width: 100%;
	background-color: rgba(2,2,2,0.7);
	/*box-shadow: 0 0 15px rgba(0,0,0,0.5);*/
	z-index: 1000;
}

.mainnav li {
	list-style-type: none;
	float: right;
	margin: 20px 0;
}

.mainnav a:hover {
	color: red;
}

.mainnav i {
	margin-right: 10px;
	color: #FFF;
}

.mainnav a {
	font-size: 20px;
	color:#bdc3c7;
	text-decoration: none;
	vertical-align: middle;
	margin-right: 40px;
}


/* UP_button */

.up_btn {
	position: relative;
	text-align: center;
	vertical-align:middle;
	width: 50px;
	height: 60px;
	background-color: rgba(2,2,2,0.3);
	border-radius: 8px;
	/*z-index: 100000;*/
}

.wrap {
	position: fixed;
	right: 3%;
	bottom: 3%;
}

/*.nav-hold {
	overflow: hidden;
}
.nav-logo {
	float: left;
	display: block;
	padding: 20px 10px;
	color: #F9F9F9;
	font-weight: 600px;
}
.nav-list li a {
	display: block;
	padding: 20px 10px;
	color: #F9F9F9;
}*/


/*
<nav class="nav-bar">
	<div class="nav-hold">
		<a class="nav-logo" href="#">My Awesome Logo</a>
		<a id="nav-menu" class="nav-menu">
			&#9776;
		</a>
		<ul class="nav-list" id="nav">
			<li><a href="#about-me">About Me</a></li>
			<li><a href="#cat-pictures">Cat Pictures</a></li>
			<li><a href="#contact">Contacts</a></li>
			<li><a href="#lorem-ipsum">Lorem Ipsum</a></li>
		</ul>
	</div>
</nav>*/


/*.grow { transition: all .2s ease-in; }
.grow:hover { transform: scale(1.12); }*/



/* ----------------------------------
 			TYPOGRAPHY 
----------------------------------- */


/*text-transform: uppercase;*/

/* Main font */
body, p, td {
	font: 18px/26px 'Open Sans', sans-serif;
	font-weight: 300;
}

a {
	color:#2980B9;
}

/* Headings */
h1 {
	font: 100px/80px 'Open Sans';
	font-weight: 300;
	margin-bottom: 15px;
	}
h2 {
	font: 48px/40px 'Open Sans';
	font-weight: 300;
	margin-bottom: 30px;
	}
h3 {
	font: 36px/46px 'Open Sans';
	font-weight: 300;
	margin-bottom: 15px;
	}
h4 {
	font: 30px/40px 'Open Sans';
	font-weight: 300;
	margin-bottom: 10px;
	}
h5 {
	font: 24px/34px 'Open Sans';
	font-weight: 300;
	margin-bottom: 10px;
	text-transform: uppercase;
	}
h6 {
	font: 20px/28px 'Open Sans';
	font-weight: 300;
	margin-bottom: 10px;
	text-transform: uppercase;
	}

/* Includes */

@font-face {
    font-family:'logoFont';
    src: url('../fonts/logoFont.ttf');
}

.logoFont {
	font-family: logoFont;
	/*-webkit-font-smoothing: antialiased;*/
  	/*-moz-osx-font-smoothing: grayscale;*/
}

.bigSize {
	font-size: 15em;
	padding-bottom:40px;
}

.about span {
	color: #bdc3c7;
}

/* Colored */

.highlight {
	color: #7F8C8D;
	font-size: 48px;
	line-height: 46px;
	font-family:'Open Sans';
	font-weight: 300;
	margin: 28px 0 0 0;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}

.title {
	margin: 0 auto;
	margin: 80px 0;
}

/*------------------------- Fullscreen ---------------------*/

/*fullscreen*/
/*html {
 height: 100%;
}
body {
 height: 100%;
}
.wnd {
 height: 100%;
} 
.container {
 height: 100%;
}
.prototype {
 height: 100%;
}*/

/*------------------------- Positioning ---------------------*/

/*.about,
.process,
.team,
.projects,
.prototype {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
}*/


/*------------------------- Flip ---------------------*/
.flip {
	/*position: relative;*/
	float:left;
	width:200px;
	height:200px;
	margin:20px;
}

/* All who include .front*/
.flip > .front {
	position: absolute;
	transform: perspective(600px) rotateY(0deg);
	background: #ecf0f1;
	background: url(../imgs/team/oleg.jpg) no-repeat;
	width:200px;
	height:200px;
	border-radius: 150px;
	backface-visibility: hidden;
	transition: transform .4s linear 0s;
}

.flip > .back {
	position: absolute;
	transform: perspective(600px) rotateY(180deg);
	background: #ecf0f1;
	width:200px;
	height:200px;
	border-radius: 150px;
	backface-visibility: hidden;
	transition: transform .4s linear 0s;
}

.flip:hover > .front {
	transform: perspective(600px) rotateY(-180deg);
}

.flip:hover > .back {
	transform: perspective(600px) rotateY(0deg);
}

.links {
	margin-top: 80px;
}

.links a {
	color: #7f8c8d;
	font-size: 2.5em;
	width: 100px;
	margin: 10px;
}

.front h4 {
	width: 150px;
	margin: 0 auto;
	margin-top: 50px;
}

.front p {
	width: 150px;
	margin: 0 auto;
	margin-top: 15px;
}

/*--------------------- Process ------------------*/

.gift-01 {
	width: 115px;
	height: 128px;
	position: absolute;
	top: 23%;
	left: 43%;
}

.gift-02,
.gift-03,
.gift-04 {
	width: 115px;
	height: 128px;
	position: relative;
	top: 15%;
	left: 59%;
	float: left;
	margin:0 25px;
}

.bulp,
.arrow-01,
.arrow-02,
.cycle {
	position: absolute;
}

.bulp {
	top: 45%;
	left: 10%;
}

.arrow-01 {
	top: 50%;
	left: 20%;
}

.arrow-02 {
	top: 50%;
	left: 36%;
}

.cycle {
	top: 41%;
	left: 50%;
}

.gift-01 {
	background: url('../imgs/process/gift-01.png') no-repeat;
	/*top:20px;*/
}

.gift-02 {
	background: url('../imgs/process/gift-02.png') no-repeat;
}

.gift-03 {
	background: url('../imgs/process/gift-03.png') no-repeat;
}

.gift-04 {
	background: url('../imgs/process/gift-04.png') no-repeat;
}


.bulp {
	background: url('../imgs/process/bulp.png') no-repeat;
	width: 131px;
	height: 174px;
}

.arrow-01 {
	background: url('../imgs/process/arrow-01.png') no-repeat;
	width: 259px;
	height: 79px;
}

.arrow-02 {
	background: url('../imgs/process/arrow-02.png') no-repeat;
	width: 251px;
	height: 79px;
}

.cycle {
	background: url('../imgs/process/cycle.png') no-repeat;
	width: 783px;
	height: 257px;
}

/*src="imgs/process/arrow-01.png
src="imgs/process/arrow-02.png
src="imgs/process/cycle.png
src="imgs/process/gift-02.png
src="imgs/process/gift-03.png
src="imgs/process/gift-04.png*/





/*--------------------- Projects ------------------*/

/**
* Demo styles
* Only for example purposes
* Remove in production
*/

/* Bad and ugly reset */
* { margin: 0; padding: 0; border: 0; }

/*.box {
	width: 100%;
	height: 100%;
*/}

.box img {
	width: 100%;
	left: 0;
	top: 0;
	float: left;
}



